@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

body {
  background-color: #f3f3f3; 
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
}

.wrapper {max-width: 1280px;margin: 0 auto; display: flex; gap: 40px}
.row {display: flex;flex-direction: row;}
.button-blue:hover {background-color: var(--blue-main-hover);}
.mono {font-family: 'Roboto Mono', monospace;}
.italic {font-style: italic;}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow:  2px 2px 10px #d0d0d0;
}

ul>li {
  list-style: none;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 8px #d0d0d0;
}

.block-content {width: 100%}